{% extends 'hordak/accounts/account_create.html' %}
{% load bootstrap3 %}

{% block page_name %}Create account{% endblock %}
{% block page_description %}Create a new account{% endblock %}

{% block content %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}

        <p>
            <input type="submit" class="btn btn-primary btn-lg pull-right" value="Create account">
            <a href="{% url 'hordak:accounts_list' %}" class="btn btn-lg pull-right">Cancel</a>
        </p>
    </form>
{% endblock %}
