{% extends 'hordak/transactions/transaction_create.html' %}

{% block content %}
    <form action="{% url 'hordak:transactions_create' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        {% block form_content %}
            {% include 'hordak/partials/form.html' with form=form %}
            <p>
                <input type="submit" value="Create Transaction" class="btn btn-primary btn-lg pull-right">
                <a href="{% url 'hordak:accounts_list' %}" class="btn btn-lg pull-right">Cancel</a>
            </p>
        {% endblock %}
    </form>
{% endblock %}
